<div class="repo-body">
    <div class="repo-title">
        This is the repo module
    </div>
    <div class="repo-form">
        <form [formGroup]="repoSearch" (ngSubmit)="onSubmit()">
            <div>
                <label for="user-label">User Name</label>
                <input class="user-input" type="text" formControlName="userName">
            </div>

            <button class="button" tpye="submit">Search</button>
        </form>
    </div>
    <div class="repo-data">
        data will be displayed here
    </div>
</div>