.repo-title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.repo-form {
    display: flex;
    justify-content: center;
}

.repo-data {
    display: flex;
    justify-content: center;
}

.repo-body {
}

button {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    border-width: thin;
    padding: 0.25rem;
    margin: 0.25rem;
}