<div class="user-body">
    <div class="user-title">
        GitHub User
    </div>
    <div class="user-form form">
        <form [formGroup]="userSearch" (ngSubmit)="onSubmit()">
            <div>
                <label for="user-label">User Name: </label>
                <input class="user-input" type="text" formControlName="userName">
            </div>

            <button class="button" tpye="submit">Search</button>
        </form>
    </div>
    <div class="user-data">
        <div class="user-data-block" *ngIf="userProfileData">
            <div><img cImg rounded src="{{userProfileData.avatar_Url}}" height="200px" /></div>
            <div><span>Name: </span><span>{{userProfileData.name}}</span></div>
            <div><span>Username: </span><span>{{userProfileData.login}}</span></div>
            <div><span>Profile URL: </span><span>{{userProfileData.url}}</span></div>
        </div>
    </div>
</div>
