.user-title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.user-form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.user-profile {
    margin-bottom: 0.5rem;
}

.user-data {
    display: flex;
    justify-content: center;
}

.user-data-block {
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    border-width: thin;
    padding: 0.25rem;
    margin: 0.25rem;
}

img {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

.placeholder {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-color: grey;
}

.user-profile {
    justify-content: center;
    display: flex;
}

.title {
    font-size: 1.5rem;
}

.username {
    font-size: 1rem;
}

.url {
    color: orange;
    font-size: 1rem;
}

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: orange;
}