<div class="user-body">
    <div class="user-title">
        GitHub User
    </div>
    <div class="user-form form">
        <form [formGroup]="userSearch" (ngSubmit)="onSubmit()">
            <div>
                <label for="user-label">User Name: </label>
                <input class="user-input" type="text" formControlName="userName">
            </div>

            <button class="button" tpye="submit">Search</button>
        </form>
    </div>
    <div class="user-data">
        <div *ngIf="userProfileData" ><img cImg rounded src="{{userProfileData.avatar_url}}" height="200px" /></div>
        <div><span>Name: </span><span *ngIf="userProfileData">{{userProfileData.name}}</span></div>
        <div><span>Username: </span><span *ngIf="userProfileData">{{userProfileData.login}}</span></div>
        <div><span>Profile URL: </span><span *ngIf="userProfileData">{{userProfileData.url}}</span></div>
    </div>
</div>
